@media only screen and (max-width: 1024px) {
    .description {
        font-size: 17px;
        line-height: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-div h1 {
        font-size: 20px;
    }

    .list-img-container{
        flex-direction: column;
    }

    .list-img-container .img-container {
        width: 100%;
    }

    .list-description .description {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .list-description .description .desc-img-container,
    .list-description .description .desc-details {
        width: 100%;
    }

    .list-description .description.desc-1 .desc-details {
        padding-top: 0;
    }

    .beauty-experts-container .beauty-expert {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }

    .beauty-experts-container .beauty-expert p {
        font-size: 20px;
        line-height: 22px;
    }

    .beauty-experts-container .btn-container button {
        font-size: 20px;
    }

    .faq {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #fixed-buy-block div.btn-holder {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding-bottom: 60px;
    }

    .beauty-experts-container {
        flex-direction: column;
    }

    .beauty-experts-container div.beauty-expert:first-child {
        margin-bottom: 20px;
    }

    .beauty-experts-container div.beauty-expert {
        width: 80%;
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1024px) {
   .description {
       font-size: 24px;
   }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

   .description {
       font-size: 28px;
   }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}